body {background: url("folks.jpg");
background-size: cover;
}

 button,
    div,
    form,
    input { margin:10px; }

    button {color: skyblue;
    	background-color: black;
    	border-color: black;
        font-weight: bold;
    }

    	button:hover {
    		background-color: blue;
            border:blue;
    	}


 h1 {
 	text-align: center;
 	color: skyblue;
 	background color: black;
 	font-family: "Georgia";
    background: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    max-width:800px;
    margin-left:120px;

 }

.item {
	float:left;
	text-align: center;
    color: blue;


}

#cartoon-form{
	float:left;
    text-align: center;
	margin-right:-30px;

}

#input {    width: 200px;
    float: right;
background:none;
border:none;}

#add-cartoon {
  background: black;
  border:black;
  color:skyblue;
  font-weight: bold;
}

#add-cartoon:hover { background: blue; 
        border:blue;}

#cartoon-input {
    color:blue;
}

p {color:white;
font-weight:bold;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

#array {
    background:none;
    border:none;
}